<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HeroesFlix</title>
  </head>
  <body>
    <header>
      <div class="container">
        <div class="logo">
          <h2 class="logo1">H</h2>
          <h2 class="logo2">E</h2>
          <h2 class="logo3">R</h2>
          <h2 class="logo4">O</h2>
          <h2 class="logo5">F</h2>
          <h2 class="logo6">L</h2>
          <h2 class="logo7">I</h2>
          <h2 class="logo8">X</h2>
        </div>
        <nav>
          <a href="#">Ínicio</a>
          <a href="#">Séries</a>
          <a href="#">Filmes</a>
          <a href="#">Documentário</a>
        </nav>
      </div>
    </header>

    <main>
      <div class="mainMovie">
        <div class="container">
          <h3 class="title">HOMEM DE AÇO</h3>
          <p class="description">
            Um jovem menino aprende que tem poderes extraordinários e não é
            desta Terra. Quando jovem, ele viaja para descobrir de onde veio e
            para o quê foi enviado a fazer. Mas o herói nele deve emergir se
            quiser salvar o mundo da aniquilação e se tornar o símbolo de
            esperança para toda a humanidade.
          </p>
          <div class="buttons">
            <button role="button" class="watch">
              <i class="fas fa-play"></i>
              ASSISTIR AGORA
            </button>
            <button role="button" class="moreInformation">
              <i class="fas fa-info-circle"></i>
              MAIS INFORMAÇÕES
            </button>
          </div>
        </div>
      </div>
    </main>



    <div class="carousel">
      <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide *ngFor="let image of images">
          <div class="slide">
            <img src="{{ image }}" class="box-movie" alt="" />
          </div>
        </ng-template>
      </owl-carousel-o>
    </div>
  </body>
</html>

<!-- 16h57 -->


<!-- Notas -->

<!--
  <div *ngFor="let student of students">
    {{student.id}}
    {{student.name}}
    <img [src]="student.image">
  </div>
-->
