/* You can add global styles to this file, and also import other style files */
@import '../node_modules/ngx-owl-carousel-o/lib/styles/prebuilt-themes/owl.carousel.min.css';
@import '../node_modules/ngx-owl-carousel-o/lib/styles/prebuilt-themes/owl.theme.default.min.css';

:root{
  --vermelho:#e50914;
  --preta:#141414;
}

*{
  margin: 0;
  padding: 0;

  /* Limites por caixa */
  box-sizing: border-box;
}

body{
  background-color: var(--preta);
  font-family: 'Times New Roman', Times, serif;
  color: white;
}

